#version=OL8
# Use graphical install
#graphical
# Use text install
text

repo --name="AppStream" --baseurl=http://192.168.56.254/ol89/AppStream/

%packages
@^minimal-environment
kexec-tools
libgcc.x86_64
make.x86_64
unzip.x86_64
bzip2.x86_64
kernel-headers.x86_64
kernel-devel.x86_64
elfutils-libelf-devel.x86_64
perl.x86_64
tar.x86_64
gcc.x86_64
gcc-c++.x86_64
xorg-x11-xauth.x86_64
xorg-x11-utils.x86_64
wget.x86_64
perl.x86_64
chrony.x86_64
oracle-database-preinstall-21c.x86_64
%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=ja_JP.UTF-8

# Network information
network  --bootproto=static --device=enp0s3 --gateway=192.168.56.1 --ip=192.168.56.101 --nameserver=192.168.56.254 --netmask=255.255.255.0 --noipv6 --activate --ipv4-dns-search=oracle.com
network  --bootproto=static --device=enp0s8 --ip=192.168.100.101 --netmask=255.255.255.0 --noipv6 --activate
network  --bootproto=static --device=enp0s9 --ip=192.168.200.101 --netmask=255.255.255.0 --noipv6 --activate
network  --hostname=node1

# Use CDROM installation media
#cdrom
url --url=http://192.168.56.254/ol89/

# Run the Setup Agent on first boot
firstboot --enable

#ignoredisk --only-use=sda
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
#clearpart --none --initlabel
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024
part pv.486 --fstype="lvmpv" --ondisk=sda --size=59400
volgroup VgSys --pesize=4096 pv.486
logvol / --fstype="xfs" --size=51200 --name=LvRoot --vgname=VgSys
logvol swap --fstype="swap" --size=8192 --name=LvSwap --vgname=VgSys

# System timezone
timezone Asia/Tokyo --isUtc --nontp

# Root password
rootpw --iscrypted $6$McLCLN7UgchOzUgg$os/mj83dQ41HEoY0flMAIpM8uakHNu4I.tuqe4077W2zDLarVFrxWoqwhNZgLixiNdLEIs0W2yAhHFVZfK9e4/
user --name=oracle --password=$6$4knqxCoZrJ2fdIdw$WaEsrYxVolvJj0WqCoFPJpWKwnmmLCsp8HGCXcMJ.erZaRAsJRd/6dMMzA.Gyp6y7pXVGcCNSwLbIhsV/F4OB/ --iscrypted --gecos="oracle"

# Firewall
firewall --disabled

# SELinux
selinux --disabled

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --log=/root/ks_post.log
set -x
grubby --set-default-index=1

mkdir -m 600 /root/.ssh
wget -P /root/.ssh http://192.168.56.254/kickstart/ol8/authorized_keys

wget -P /etc/yum.repos.d http://192.168.56.254/kickstart/ol8/ol8-iso.repo
echo "alias yum2='yum --disablerepo=* --enablerepo=ol8-iso,ol8_iso_appstream'" >> /root/.bashrc

mount -r /dev/sr1 /mnt
/mnt/VBoxLinuxAdditions.run
mkdir /opt/media
cat <<'EOF' >> /etc/fstab
media                   /opt/media              vboxsf  defaults,uid=54321,gid=54321,fmode=0777,dmode=0777       0 0
EOF
cat <<'EOF' >> /root/.bash_profile
mount.vboxsf media /opt/media
EOF

wget -P /tmp http://192.168.56.254/kickstart/ol8/os-setup_ol89_21c.sh
sh /tmp/os-setup_ol89_21c.sh > /tmp/os-setup_ol89_21c.log

eject /dev/sr0
%end
